<div class="flex flex-row items-center justify-center h-screen">
    <div class="w-1/2">
      <form class="form">
        
        <img src="/assets/logo.svg" class="h-12 w-auto" alt="Logo"><div class="title">Reset Password</div>
  
        <span>Enter your email address and we'll send you a link to reset your password.</span>
        <input class="input" name="email" placeholder="Email" type="email">
        
  
  
        <button type="submit" class="button-confirm">Reset Password</button>
        
        <div class="text-gray-900 mt-4 text-center">
          <span>Remembered your password? <a routerLink="/login" class="text-sm text-green-600">Login</a></span>
        </div>
      </form>
    </div>
    <div class="w-1/2">
      <div class="image-container">
        <img src="/assets/forget.svg" class="image" alt="Logo">
      </div>
    </div>
  </div>
  