.form {
    --input-focus: #ffffff;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #dcfde9;
    --main-color: black;
    width: 100%; 
    height: 100vh;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  
  .title {
    color: var(--font-color);
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;

  }
  
  .input {
    width: 540px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: -4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    transform: translate(-4px,4px);
    border: 2px solid var(--main-color);
    box-shadow: 0px 0px 0px 0px ;
  }
  

  
  .button-confirm {
    margin: 50px auto 0 auto;
    width: 190px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: #8be2a5;
    box-shadow: 0px 2px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translateY(3px);
  }

  .bg-gray-200 {
    background-color: #8be2a5;
}
  .text-green-600 {
    color: #4ecf75;
}

.image-container {
   width: 95%;
}

.email-container {
    display: flex;
    flex-direction: column;
}