.btn-create{
    background-color: rgb(65, 166, 101);
    padding: 5px 10px 5px 10px!important;
    border-radius: 50px;
    color: white;
}
.container-fluid .nav-pills .nav-link {
    color: black !important;
}
.container-fluid .nav-pills .nav-link:hover {
    margin-top:2px ;
}