<header class="fixed inset-x-0 top-0 z-50 bg-white shadow-lg">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <header class="fixed inset-x-0 top-0 z-50 bg-white border-b-2 border-gray-900">
        <nav class="flex items-center justify-between p-4 lg:px-8" aria-label="Global">
      
          <div class="flex lg:flex-1 items-center">
            <a href="#" class="-m-1.5 p-1.5 flex items-center">
              <img class="h-8 w-auto mr-2" src="/assets/mini.svg" alt="logo rissala">
              <span style="font-family: Poppins;font-size: 30px; font-weight: bold; color: black;">Rissala</span>
            </a>
            <a href="#" class="finder">About us</a>
            <a href="#" class="finder">our team</a>
            <a href="#" class="finder">Contacts</a>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-x-4">
            <button routerLink="/signup" class="comic-button">
              <span>Become a creator</span>
            </button>
            <button routerLink="/login" class="comic-button">
              <span>Login</span>
            </button>
          </div>
        </div>
        </nav>
      </header>
    </nav>
</header>
          

<app-content></app-content>


<app-footer></app-footer>